pkgbase = vapoursynth-plugin-subtext-yumemichi
	pkgdesc = Plugin for Vapoursynth: subtext (GIT version)
	pkgver = R6.4.gef0e4c5
	pkgrel = 2
	url = https://github.com/vapoursynth/subtext
	arch = any
	license = MIT
	makedepends = git
	makedepends = meson
	depends = vapoursynth
	depends = libass
	depends = ffmpeg
	provides = vapoursynth-plugin-subtext
	provides = vapoursynth-plugin-subtext-git
	conflicts = vapoursynth-plugin-subtext
	conflicts = vapoursynth-plugin-subtext-git
	source = subtext::git+https://github.com/vapoursynth/subtext.git
	sha256sums = SKIP

pkgname = vapoursynth-plugin-subtext-yumemichi
