pkgbase = vapoursynth-plugin-vszip-yumemichi
	pkgdesc = Plugin for VapourSynth: vszip (GIT version)
	pkgver = r72.6968f2b
	pkgrel = 1
	url = https://github.com/dnjulek/vapoursynth-zip
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = zig-bin
	depends = vapoursynth
	provides = vapoursynth-plugin-vszip
	provides = vapoursynth-plugin-vszip-git
	conflicts = vapoursynth-plugin-vszip
	conflicts = vapoursynth-plugin-vszip-git
	source = vszip::git+https://github.com/dnjulek/vapoursynth-zip.git
	sha256sums = SKIP

pkgname = vapoursynth-plugin-vszip-yumemichi
