pkgbase = vapoursynth-plugin-znedi3-yumemichi
	pkgdesc = Plugin for Vapoursynth: znedi3 (GIT Version)
	pkgver = 3.0.g4cf67b9
	pkgrel = 1
	url = https://github.com/sekrit-twc/znedi3
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = vapoursynth
	depends = vapoursynth-plugin-nnedi3_weights_bin
	provides = vapoursynth-plugin-znedi3
	provides = vapoursynth-plugin-znedi3-git
	conflicts = vapoursynth-plugin-znedi3
	conflicts = vapoursynth-plugin-znedi3-git
	source = znedi3::git+https://github.com/sekrit-twc/znedi3.git
	sha256sums = SKIP

pkgname = vapoursynth-plugin-znedi3-yumemichi
