pkgbase = vapoursynth-plugin-mvtools-yumemichi
	pkgdesc = Plugin for Vapoursynth: mvtools (GIT version)
	pkgver = 23.8.g8ec2a19
	pkgrel = 1
	url = https://forum.doom9.org/showthread.php?t=171207
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = nasm
	makedepends = meson
	depends = vapoursynth
	depends = fftw
	provides = vapoursynth-plugin-mvtools
	provides = vapoursynth-plugin-mvtools-git
	conflicts = vapoursynth-plugin-mvtools
	conflicts = vapoursynth-plugin-mvtools-git
	options = debug
	source = mvtools::git+https://github.com/dubhater/vapoursynth-mvtools.git
	sha256sums = SKIP

pkgname = vapoursynth-plugin-mvtools-yumemichi
