pkgbase = vapoursynth-plugin-resize2-yumemichi
	pkgdesc = Plugin for VapourSynth: resize2 (GIT version)
	pkgver = r56.db15dbe
	pkgrel = 1
	url = https://github.com/Jaded-Encoding-Thaumaturgy/vapoursynth-resize2
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = meson
	makedepends = ninja
	depends = vapoursynth
	depends = zimg
	provides = vapoursynth-plugin-resize2
	provides = vapoursynth-plugin-resize2-git
	conflicts = vapoursynth-plugin-resize2
	conflicts = vapoursynth-plugin-resize2-git
	source = resize2::git+https://github.com/Jaded-Encoding-Thaumaturgy/vapoursynth-resize2.git
	sha256sums = SKIP

pkgname = vapoursynth-plugin-resize2-yumemichi
