pkgbase = vapoursynth-plugin-bm3d-yumemichi
	pkgdesc = Plugin for Vapoursynth: bm3d (GIT version)
	pkgver = 9.3.g9fe2165
	pkgrel = 1
	url = https://forum.doom9.org/showthread.php?t=172172
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = meson
	depends = vapoursynth
	depends = fftw
	provides = vapoursynth-plugin-bm3d
	provides = vapoursynth-plugin-bm3d-git
	conflicts = vapoursynth-plugin-bm3d
	conflicts = vapoursynth-plugin-bm3d-git
	source = bm3d::git+https://github.com/HomeOfVapourSynthEvolution/VapourSynth-BM3D.git#commit=9fe21659e5d736a5e5315588e488fd9749681d40
	sha256sums = SKIP

pkgname = vapoursynth-plugin-bm3d-yumemichi
